*
!base_map.sc2map
!*/
!*/Base.SC2Data/GameData/Terrain/*.xml
!*/CellAttribute_Pde
!*/CellAttribute_Pgr
!*/CellAttribute_Pnb
!*/CellAttribute_Pnp
!*/CellAttribute_Pwd
!*/CellAttribute_Vbl
!*/CellAttribute_Vsh
!*/MapInfo
!*/Minimap.tga
!*/Objects
!*/Regions
!*/t3CellFlags
!*/t3FluffDoodad
!*/t3HardTile
!*/t3HeightMap
!*/t3SyncCliffLevel
!*/t3SyncHeightMap
!*/t3SyncTextureInfo
!*/t3Terrain.version
!*/t3Terrain.xml
!*/t3TextureMasks
!*/t3VertCol
!*/t3Water
!.gitignore